.list-inline>a {
  display: inline;
}

.nav-link {
  color: $black;
  font-weight: $fw-regular;
  font-size: 1.5rem;
  margin: auto;
  vertical-align: bottom;
}

header#header.header {
  text-align: center;
}
